@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #0a1930;
    --highligth-text: #64ffda;
    --text-color: #5e6a81;
    --menu-toggle-color: #112441;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    height: 100dvh;
    line-height: 1.4;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.4rem;
}

nav a {
    font-family: "JetBrains Mono";
    color: var(--highligth-text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons {
    display: flex;
    justify-content: left;
    gap: 2rem;
    padding: 1rem;
}

.social-icons a {
    color: var(--text-color);
}

.fa-brands {
    scale: 2;
}

strong {
    color: var(--text-color);
    transition: color 0.3s ease;
}

nav a strong:hover {
    color: white;
}

.contact {
    border: 1px solid var(--highligth-text);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact:hover {
    background-color: var(--highligth-text);
    color: var(--background);
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 80vh;
    margin-left: 10%;
    margin-right: 10%;
}

.intro {
    max-width: 50rem;
    text-align: left;
}

.intro p {
    font-family: "JetBrains Mono";
    color: var(--highligth-text);
    font-size: 1.2rem;
}

.intro h1 {
    color: #ccd7f7;
    font-size: 4rem;
}

.intro h2 {
    color: #8891b0;
    font-size: 4rem;
}

.description {
    max-width: 35rem;
    display: flex;
}

.description p {
    color: var(--text-color);
    font-family: "Open Sans";
}

span {
    color: var(--highligth-text);
}

.cta-button {
    font-family: "JetBrains Mono";
    text-decoration: none;
    color: var(--highligth-text);
    border: 1px solid var(--highligth-text);
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--highligth-text);
    color: var(--background);
    transform: scale(1.1);
}


@media (max-width: 728px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 540px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 425px){
    nav ul{
        display: none;
    }

    .one, .two, .three {
        background-color: var(--highligth-text);
        width: 100%;
        height: 5px;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
    }

    .active {
        position: absolute;
        
        top: 15px;
        left: -27px;

        width: 100vw;
        height: 100vh;

        background-color: var(--background);

        z-index: 10;
    } 

    .active .menu-toggle {
        position: absolute;
        right: 0;
        top: 0;
    }

    .active .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .active .menu-toggle .two {
        opacity: 0;
    }

    .active .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .active .contact {
        display: none;
    }

    .active ul {
        display: inline;
    }

    .active ul li a{
        transition-duration: 0.5s;
        font-size: 2rem;
        line-height: 10rem;
    } 

    .intro h1 {
        font-size: 3.5rem;
    }

    .intro h2 {
        font-size: 2.8rem;
    }

    .intro .description p {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .cta-button {
        font-size: larger;
    }
}